<%= form_for Message.new, remote: true do |f| %>
	<input id="message_battle" name="message[battle]" value="<%= params[:id] %>" type="hidden" />
	<input id="message_battle" name="message[parent_id]" value="<%= message.id %>" type="hidden" />
	<div class="message">
		<div class="user_name"><%= message.user.name %></div><div class="created_at"><%= message.created_at.strftime("%B %d, %Y") %></div> 
		<div class="content">
			<%= message.content %>
		</div>
		<div class="actions">
    		<%= f.text_field :content %> <%= f.submit "Send" %>
		</div>
	</div>
<% end %>