<div class="span5 offset3">
	<div id="current_battles">
		<div class="bubble">
			<%= form_for :battle, :url => {:action => 'create'} do |f| %>
    			<%= f.text_field :first_line, placeholder: 'Create new battle' %>
    			<%= f.submit %>
			<% end %>
		</div>
		<% @battles.each do |battle| %>
			<div class="bubble">
				<%= link_to "#{battle.first_line}", battle_path("#{battle.id}") %><br />
				Creator: <%= "#{battle.user.name}" %>
			</div>
		<% end %>
	</div>
</div>