<% content_for :title, "Battle" %>
 
<h1>Battle</h1>

<div class="row-fluid">

	<div class="span10">
		
		<div id="playerWrap" style="overflow-y: scroll; overflow-x: auto; border:2px solid;">
			Result
		</div>
	</div>
	<div class="span2"></div>
	
</div>

<div class="row-fluid">

	<div class="span10">
		<div id="chatWrap" style="height: 500px; overflow-y: scroll; overflow-x: auto; border:2px solid;">
			<ul id="chat">
				<%= "#{@battle.first_line}" %>
				<hr />
				<%= render @messages %>
			</ul>
		</div>
	</div>

	<div class="span2">
		<div id="playerWrap" style="overflow-y: scroll; overflow-x: auto; border:2px solid;">
			<div>Battle creator: <%= "#{@user.name}" %></div>
			<em><span id="online">-</span>/10</em>
			<ul id="players">
				<li>Player1</li>
				<li>Player2</li>
			</ul>
		</div>
	</div>

</div>

<div class="row-fluid">

	<div class="span12">
		<hr />
		<%= form_for Message.new, remote: true do |f| %>
			<input id="message_user" name="message[user]" value="testi_sender" type="hidden" />
			<input id="message_room_number" name="message[room_number]" value="<%= render text: params[:id] %>" type="hidden" />
			<%= f.text_field :content %>
			<%= f.submit "Send" %>
		<% end %>

		<%= link_to "Back to lobby", battles_path %>
	</div>

</div>
