<% content_for :title, "Battle" %>
<%= link_to "<- Back to lobby", battles_path %>
<h1>Battle</h1>

<div class="row-fluid">

	<div class="span10">
		<div id="chatWrap" style="height: 500px; overflow-y: scroll; overflow-x: auto; border:2px solid;">
			<ul id="chat">
				<%= form_for Message.new, remote: true do |f| %>
					<input id="message_battle" name="message[battle]" value="<%= render text: params[:id] %>" type="hidden" />
					<%= render @messages %>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="span2">
		<div id="playerWrap" style="overflow-y: scroll; overflow-x: auto; border:2px solid;">
			<div>Battle creator: <%= "#{@user.name}" %></div>
			<em><span id="online">-</span>/10</em>
			<ul id="players"></ul>
		</div>
	</div>

</div>
