<h1>Battle</h1>

<ul id="chat">
	<%= render @messages %>
</ul>

<%= form_for Message.new, remote: true do |f| %>
	<%#= f.text_field :sender %>
	<%#= f.text_field :room_number %>
	<input id="message_sender" name="message[sender]" value="testi_sender" type="hidden" />
	<input id="message_room_number" name="message[room_number]" value="<%= render text: params[:id] %>" type="hidden" />
	<%= f.text_field :content %>
	<%= f.submit "Send" %>
<% end %>

<%= link_to "Back to lobby", rooms_path %>

<%= subscribe_to "/channels/#{params[:id]}" %>